.button-align-right{
  right: 0;
}

.button-align-left{
  left: 0;
}

.dialog-container{
  position: relative;
  height: 90%;
}

.mat-raised-button-bottom{
  position: absolute;
  bottom: 5px;
}

.col-2{
  float: left !important;
  width: 50% !important;
}
