<h1>University</h1>
<div class="row">
  <div class="column-list">
    <div class="margin-sides">
      <p>Subjects</p>
      <button mat-raised-button class="add-btn" (click)="addSubject()">Add Subject</button>
      <mat-card class="mat-card-list">
        <mat-list role="list">
          <mat-list-item *ngFor="let subject of subjects"
                          class=""
                          role="listitem">
            <div class="text pointer list-item" (click)="subjectSelect(subject)">
              <a>{{subject.name}}</a>
            </div>
            <div class="pointer delete-padding">
              <mat-icon (click)="deleteSubject(subject.name)">delete</mat-icon>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-card>
    </div>
  </div>
  <div class="column-list">
    <div class="margin-sides">
      <p *ngIf="currentSubject">Students of {{currentSubject.name}}</p>
      <p *ngIf="!currentSubject">Students</p>
      <button mat-raised-button class="add-btn" (click)="enrollStudent()" [disabled]="currentSubject==null">Enroll Student</button>
      <mat-card class="mat-card-list">
        <mat-list *ngIf="currentSubject" role="list">
          <mat-list-item *ngFor="let student of currentSubject.students"
                         class=""
                         role="listitem">
            <div class="text pointer list-item delete-padding" (click)="studentSelect(student)">
              <a>{{student.name}}</a>
            </div>
            <div class="pointer">
              <mat-icon (click)="dropSubject(currentSubject.name, student.name)">delete</mat-icon>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-card>
    </div>
  </div>
  <div class="column-list">
    <div class="margin-sides">
      <p *ngIf="currentStudent">Details of {{currentStudent.name}}</p>
      <p *ngIf="!currentStudent">Student Details</p>
      <button mat-raised-button class="add-btn" (click)="addStudent()">Add Student</button>
      <mat-card>
        <div *ngIf="currentStudent">
          <p>{{currentStudent.name}}</p>
          <p>{{currentStudent.address }}</p>
          <p>Phones</p>
          <mat-list-item *ngFor="let phone of currentStudent.phones"
                         class="no-pad"
                         role="listitem">
            <p class="phones  ">{{phone.description}}: {{phone.number}}</p>
          </mat-list-item>
        </div>
      </mat-card>
    </div>
  </div>
</div>
